/* *** English *** */
.lang-MenuFile:lang(en) { content: "File"; }
.lang-MenuFileNewFile:lang(en) { content: "New file"; }
.lang-MenuFileOpenFile:lang(en) { content: "Open file"; }
.lang-MenuFileSaveFile:lang(en) { content: "Save file"; }
.lang-MenuFileSaveFileAs:lang(en) { content: "Save file as"; }

.lang-MenuEdit:lang(en) { content: "Edit"; }
.lang-MenuEditSettings:lang(en) { content: "Settings"; }

.lang-MenuHelp:lang(en) { content: "Help"; }
.lang-MenuHelpAbout:lang(en) { content: "About"; }

.lang-AudioEngine:lang(en) { content: "Audio Engine"; }
.lang-MidiEngine:lang(en) { content: "MIDI Engine"; }
.lang-Devices:lang(en) { content: "Devices"; }

.lang-AboutSection:lang(en) { content: "About Section"; }
.lang-AboutText:lang(en) { content: "DigiDAW is a Digital Audio Workstation focused on being easy to use, free, and completely open-source."; }
.lang-AboutWIP:lang(en) { content: "[CURRENTLY VERY WORK IN PROGRESS, FEATURES COULD BE COMPLETELY NON-EXISTENT, BUGGY, OR BROKEN. PLEASE BE ADVISED]"; }
.lang-AboutCopyNotice:lang(en) { content: "Copyright Notices"; } /* This should read "Copyright Notices (English Only)" in other languages (in the respective native language) */
/* Unfortunately for legal reasons, the license text itself has to be English Only */
.lang-AboutLicense:lang(en) { content: "DigiDAW License"; }
.lang-AboutSciterLicense:lang(en) { content: "Sciter.JS License"; }

.lang-AudioEngineSettings:lang(en) { content: "Audio Engine Settings"; }
.lang-MidiEngineSettings:lang(en) { content: "MIDI Engine Settings"; }
.lang-SettingsAPIBackend:lang(en) { content: "API Backend"; }
.lang-SettingsSelectOption:lang(en) { content: "Select an Option on the side to view the relevant options."; }
