body {
    margin: 0;
    overflow: hidden;
}

main {
    flow: horizontal;
    height: *;
    background-color: var(back);
    color: var(text);
}

main > section {
    height: *;
}

label {
    display: inline-block;
    white-space: pre;
    width: 10em;
}
